*~
a.out
/APPNOTE*.TXT
*.bak*
/build/
*.core
core
core-*
/.envrc
log.pvs
/*.patch
pvsreport/
/unzip60/conftest
/unzip60/conftest.c
/unzip60/flags
/unzip60/funzip
/unzip60/*.o
/unzip60/unzip
/unzip60/unzipsfx
/zip30/flags
/zip30/*.o
/zip30/zip
/zip30/zipcloak
/zip30/zipnote
/zip30/zipsplit
